<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<title>add todo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add todo</h1>
<div>
 <form th:object="${todo}" th:action="@{save}" action="#" method="post">
 <label for="name">Task</label>
 <input type="text" id="name" th:field="*{name}" />
 <label for="date">Date</label>
 <input type="text" id="date" th:field="*{date}" />
 <label for="priority">Priority</label>
 <input type="text" th:field="*{priority}" />
 <input type="submit" value="Save"></input>
 </form>
</div>
</body>
</html>